<header>
  <h1>TinyApp</h1>
    <% if (user) { %>
    <p>User ID: <%=user['id']%></p>
    <form method="POST" action="/logout">
        <button type="logout" value="Logout">Logout</button>
      </form>
    <% } else { %>
    <p><a href = "/login">Login</a></p>
    <p><a href = "/register">Register</a></p>
    <% } %>
</header>