<header>
  <h1>TinyApp</h1>
    <% if (username) { %>
      <p>Username: <%= username %></p>
      <form method="POST" action="/logout">
        <button type="logout" value="Logout">Logout</button>
      </form>
    <%} else {%>
      <form method="POST" action="/login">
        <input type="text" placeholder = "Login" name="username" style="width: 300px">
        <button type="submit" value="Submit">Submit</button>
      </form>
    <%}%>


</header>