  <!DOCTYPE html>
  <html lang="en">
  <head>
    <% include ./partials/_header %>
  </head>

<body>
  <ul>
    <% for (var el in urls) { %>
    <li><%= el %> - <a href = <%= urls[el] %>><%= urls[el] %></a>
      <% var site = "urls/" + el + "/delete" %>
      <form method="POST" action=<%=site%>>
        <button type="delete" value="Delete">Delete</button>
      </form>
    </li>
    <% }; %>
  </ul>

</body>
</html>