  <!DOCTYPE html>
  <html lang="en">
  <head>
    <% include ./partials/_header %>
  </head>

<body>
  <ul>
    <% for (var el in urls) { %>
    <li><%= el %> - <%= urls[el] %></li>
    <% }; %>
  </ul>
</body>
</html>